* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg-color: #000000;
    --right-section-header-bg-color: #090B12;
    --right-section-bg-color: #141922;
    --footer-bg-color: #282828;
    --text-color-white: white;
    --text-color-grey: #717171;
}
