@import url('./reset.css');

/* GENERAL */

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

footer {
    background-color: var(--footer-bg-color);
    height: 100px;
    position: sticky;
}

.main-section {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

/* MAIN */

.left-nav {
    width: 20%;
    background-color: var(--nav-bg-color);
}

.right-section {
    flex-grow: 3;
    background-color: var(--right-section-bg-color);
    height: calc(100vh - 70px);
}

.right-header-section {
    background-color: var(--right-section-header-bg-color);
    position: sticky;
    height: 70px;
}


/* FOOTER */



